<div>
    <img src="banner.png" alt="" class="banner" srcset="">
</div>
<div class="buttons">
    <button> 
        <a href="/login">
            Log In
        </a>
    </button>
    <button> 
        <a href="/register">
            Sign Up
        </a>
    </button>
</div>

<link type="text/css" rel="stylesheet" href="./css/index.css">