<div>
    <img src="login.png" class="loginImage" alt="" srcset="">
</div>
<form id="LogIn">
    <div class="inputbox">
        <input required="required" type="text" name="username" >
        <span>Username</span>
        <i></i>
    </div>
    <div class="inputbox">
        <input required="required" type="password" name="password">
        <span>Password</span>
        <i></i>
    </div>
    <button type="submit"> 
        <a href="/welcomeUser">
            Log In
        </a>
        
    </button>
</form>

<p> 
    ¿Todavía no tienes una cuenta? 
    <a href="/sign-up">
        Registrate
    </a>
</p>

<script type="text/javascript" src="./js/login.js"></script>
<link type="text/css" rel="stylesheet" href="./css/login.css">