<div>
    <img src="sign-up.png" class="signupImage" alt="" srcset="">
</div>

<form id="sign-up">
    <div class="inputbox">
        <input required="required" type="text" name="firstName">
        <span>Name</span>
        <i></i>
    </div>
    <div class="inputbox">
        <input required="required" type="text" name="lastName">
        <span>Last name</span>
        <i></i>
    </div>
    <div class="inputbox">
        <input required="required" type="text" name="email">
        <span>Email</span>
        <i></i>
    </div>
    <div class="inputbox">
        <input required="required" type="text" name="username">
        <span>Username</span>
        <i></i>
    </div>
    <div class="inputbox">
        <input required="required" type="password" name="password">
        <span>Password</span>
        <i></i>
    </div>
    <button type="submit"> 
        Sign Up
    </button>
</form>

<p>¿Ya tienes una cuenta? <a href="/login">Iniciar sesión</a></p>

<script type="text/javascript" src="./js/sign-up.js"></script>
<link type="text/css" rel="stylesheet" href="./css/sign-up.css">