<div>
    <img src="chat-banner.png" class="chatBanner" alt="" srcset=""/>
</div>
<!-- 
<div id="container_chat">
    <h3> Envia un mensaje.ᐟ </h3>
    <section class="container-fluid d-flex messages h-50 border-light">
        <form id="data_user" class="d-flex flex-column w-50" autocomplete="off">
            <input type="text" autocomplete="false" name="hidden" style="display:none">
            <input required type="text" name="name_user" class="input" placeholder="Ingrese su nombre.ᐟ" >
            <input required type="email" name="email_user" class="input" placeholder="Ingrese su mail.ᐟ" >
            <p required id='parrafo_chat' placeholder="Ingrese su mensaje.ᐟ"></p>
            <button type="submit" id="send_socket" class="cssbuttons-io-button"> Submit
            <div class="icon">
                <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
            </div>
        </button>
        </form>
</div>-->

<div id="container_chat">
    <div>
        <form id="data_user">
            <input required type="text" class="input" name="name_user" placeholder="Ingrese su nombre.ᐟ">
            <input required type="email" class="input" name="email_user" placeholder="Ingrese su email.ᐟ" >
            <button type="submit" class="cssbuttons-io-button" valor="Ingresar al chat"> 
                Submit 
                <div class="icon">
                    <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path></svg>
                </div>
            </button>
        </form>
    </div>
    <div class="card">
        <div>
            <div class="parrafo">
                <input type="text" name="inputText" id="inputText" placeholder="Ingresa tu mensaje">
                <button id="send_socket">Enviar</button>
                <p id='parrafo_chat'></p>
            </div>
            <div class="users">
                Hacer después...
            </div>
        </div>
    </div>
</div>

<div class="buttons">
    <button>
        <a href="http://localhost:8080/"> INICIO </a>
    </button>
    <button>
        <a href="http://localhost:8080/loadProducts"> AGREGAR PRODUCTOS </a>
    </button>
    <button>
        <a href="http://localhost:8080/products"> PRODUCTOS </a>
    </button>
</div>


<link rel="stylesheet" type="text/css" href="./css/chats.css">
<script src="./utils/sockets/messages.js"></script>