<div>
    <img src="banner.png" alt="" class="banner" srcset="">
</div>
<div class="buttons">
    <button> 
        <a href="/products">
            Products
        </a>
    </button>
    <button> 
        <a href="/perfil-de-usuario">
            Profile
        </a>
    </button>
</div>

<link type="text/css" rel="stylesheet" href="./css/index.css">