<div>
    <h1>
        Error al iniciar sesión
    </h1>
    <img src="spilled coffee.png" class="error-img" alt="" srcset="">
</div>

<link type="text/css" rel="stylesheet" href="./css/loginError.css">