<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vicious</title>

        <!-- LINK DE BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <!-- LINK CSS -->
        <link rel="stylesheet" type="text/css" href="./css/home.css">
        <!-- LINK FAVICON -->
        <link rel="shortcut icon" href="icon.png" type="image/x-icon">
        <!-- SCRIPT DE SCRIPT.IO -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- SCRIPT DE HANDLEBARS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"
        integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
        {{{body}}}
    </body>
</html>