<div>
    <img src="login.png" class="loginImage" alt="" srcset="">
</div>
<form id="LogIn" method="POST">
    <label>Email</label>
    <input name="email">
    <label>Password</label>
    <input name="password">
    <button type="submit">Log In</button>
</form>
<div>
    <p>
        Iniciar Sesión con:
        <a href="/api/sessions/github">
            <button class='button'>
                GITHUB
            </button>
        </a>
    </p> 
</div>
<script type="text/javascript" src="./js/login.js"></script>
<link rel="stylesheet" href="./css/login.css">